<div class="wrapper">
    <table>
        <tr>
            <th>ID</th>
            <th>Bill Date</th>
            <th>Paid Date</th>
            <th>Unit Consume</th>
            <th>Amount</th>
        </tr>
        <tr>
            <td>{{id}}</td>
            <td>{{bill_date.toString().substring(0,15)}}</td>
            <td>{{paid_date.toString().substring(0,15)}}</td>

            <td>{{unit}}</td>
            <td>{{amount}}</td>

        </tr>
    </table>
    <button (click)="deleteBill()">Delete</button>
    <button (click)="updateBill()">update</button>
</div>